
 <footer >
   <p>Copyright © 2023 light-rizer.com, All rights reserved.</p>
    <a style=' color: #205E61;text-decoration: none;' href="https://www.flaticon.com/free-animated-icons/sun" target="_blank" title="sun animated icons">
      Sun animated icons created by Freepik - Flaticon
    </a>
  </footer>

  <script src="https://unpkg.com/scrollreveal"></script>

<script type='text/javascript'>
var slideUp = {
    distance: '50%',
    easing:'ease-in',
    origin:'left'
};

var slideUp2 = {
    distance: '50%',
    easing:'ease-in',
    origin:'bottom'
};
ScrollReveal().reveal('.home-ul',slideUp);
ScrollReveal().reveal('.bubble',slideUp2);
//code that sends timeZone to server.
let city=Intl.DateTimeFormat().resolvedOptions().timeZone;
let clientZone= document.querySelector('.client-timezone');
if(clientZone){
  console.log('clientZone appears')
  clientZone.value=city;
}

let hamburger= document.querySelector(".hamburger");

let uL= document.getElementById("target");

let li= document.querySelectorAll(".nav-link");

//not clicked
let lightSwitch=false;
//detects when hamburger is clicked
hamburger.addEventListener("click",function(){
if(!lightSwitch){
  console.log(li.length);
  console.log(li);
  if(li.length==5){
    //removes animation that lets us shrink the ul
    uL.classList.remove("detach");
    //adds animation for ul to grow
    uL.classList.add("attach");
    //animates our hamburger lines to move in a cross
    hamburger.classList.add('open');
    //we have clicked our hamburger
  }else{//if we havent logged in yet our li length is shorter so we make animation size shorter
    //removes animation that lets us shrink the ul
    uL.classList.remove("detach2");
    //adds animation for ul to grow
    uL.classList.add("attach2");
    //animates our hamburger lines to move in a cross
    hamburger.classList.add('open');
    //we have clicked our hamburge
  }
  lightSwitch=true;

}else{//everything is expanded
  console.log(li.length);
  console.log(li);
  if(li.length==5){
    //we remove the ul ability animate growing
    uL.classList.remove("attach");
    //we add animation of shrinking
    uL.classList.add("detach");
    //remove animation and the lines revert back to original position
    hamburger.classList.remove('open');
  }else{//if we havent logged in yet our li length is shorter so we make animation size shorter
    //we remove the ul ability animate growing
    uL.classList.remove("attach2");
    //we add animation of shrinking
    uL.classList.add("detach2");
    //remove animation and the lines revert back to original position
    hamburger.classList.remove('open');
  }

  lightSwitch=false;
}

});
</script>

<script src="https://kit.fontawesome.com/e75f0a9b44.js" crossorigin="anonymous"></script>
   </body>
   </html>
