
 <footer >
   <div class="ui inverted footer">
      <div class="ui container">
        Topcoder 2021. All Rights Reserved
      </div>
    </div>
  </footer>

  <script>

//code that sends timeZone to server.
let city=Intl.DateTimeFormat().resolvedOptions().timeZone;
let clientZone= document.querySelector('.client-timezone');
clientZone.value=city;


</script>
   </body>
   </html>
