<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Light-Rizer</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="styles.css" type="text/css" />
  <link rel="stylesheet" href="home.css" type="text/css" />
  <link rel="stylesheet" href="register.css" type='text/css' />
  <link rel="stylesheet" href="login.css" type='text/css' />
  <link rel="stylesheet" href="settings.css" type='text/css' />
  <link rel="stylesheet" href="profile.css" type='text/css' />

  <!-- FONTAWESOME -->
  <script src="https://kit.fontawesome.com/e75f0a9b44.js" crossorigin="anonymous"></script>
  <!-- GOOGLE FONTS -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Barlow:ital,wght@1,800&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Varela+Round&display=swap" rel="stylesheet">
</head>


<body class="container">
  <section class='section-padding'>
    <% if(message){%>
    <div class="nav-container">
      <div class="brand-container">
        <a style='text-decoration:none;' href='/'>
          <div class='brand'>Light Rizer</div>
        </a>
        <div class='hamburger'>
          <div class='line first'></div>
          <div class='line second'></div>
        </div>
      </div>
      <ul class='off' id='target'>
        <li> <a class='nav-link' href="/">Home</a></li>
        <li><a class='nav-link' href="/profile">Profile</a></li>
        <li><a class='nav-link' href="/settings">Settings</a></li>
        <li><a class='nav-link' href="/logout">Log Out</a></li>
        <li>
          <a class='nav-link'>
            <span style='font-weight:bolder;color:#205E61;'><i class="fa-regular fa-user"></i><%=username%></span>
          </a>
        </li>
      </ul>
    </div>
    <%}else if(!message){%>
    <div class="nav-container">
      <div class="brand-container">
        <a style='text-decoration:none;' href='/'>
          <div class='brand'>Light Rizer</div>
        </a>
        <div class='hamburger'>
          <div class='line first'></div>
          <div class='line second'></div>
        </div>
      </div>

      <ul class='off' id='target'>
        <li> <a class='nav-link' href="/">Home</a></li>
        <li><a class='nav-link' href="/register-page">Register</a></li>
        <li><a class='nav-link' href="/login-page">Login</a></li>
      </ul>
    </div>
    <%}%>
</section>
