<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <title>One Habit</title>
   <style>
     body { padding:50px; }
   </style>
</head>


<body class="container">

  <% if(message){%>
  <p>
    <%=tags%>
  </p>
  <a href="/">home</a> <br>
    <a href="/profile">profile</a> <br>
    <a href="/settings">settings</a>
  <a href="/logout">log out</a>
  <%}else if(!message){%>
    <p>
      <%=tags%>
    </p>
    <a href="/">home</a> <br>
      <a href="/register-page">register</a> <br>
      <a href="/login-page">log in</a> <br>
    <%}%>
