<%- include('./partials/header'); %>
<h1>Welcome to One Habit!</h1>
<p>Send your self an a text to remind you of a habit you want to complete</p>

<%# REGISTER %>
<form action="/register" method="post">
  <h2>Register!</h2>
  <div>
    <label for="userNameReg">username:</label>
    <input name='userNameReg' required>
  </div>
  <section>
    <label for="passwordReg">password:</label>
    <input name='passwordReg' required>
  </section>
<input type="submit" value="Submit">
</form>

<%# LOGIN %>
<form action="/login" method="post">
  <h2>Login!</h2>
  <div>
    <label for="username">username:</label>
    <input name='username' required/>
  </div>
  <section>
    <label for="password">password:</label>
    <input name='password' required/>
  </section>
  <input type="submit" value="Submit">
</form>


<%- include('./partials/footer'); %>
