<%- include('./partials/header'); %>
<section class='home-section'>
  <div class='attention-grab'>
    <ul class=' home-ul '>
      <li class='home-li'>  Feel energized in the morning </li> %>
      <li class='home-li'>  Get better sleep at night </li>
    </ul>
    <img class='sun-anim-gif' src="/images/sunrise-anim.gif" alt="">
    </div>

    <p class='home-p'>
      Recieve text messages when the sun is coming up in your area via zip code
    </p>
    <p class='home-p center'>According to Neuroscientist Andrew Huberman studies have shown getting natural light within 1 hour of waking, even if gloomy, can create wakefulness in the morning and better
    sleep at night.</p>
    <iframe src="https://www.youtube.com/embed/WDv4AWk0J3U"></iframe>

    <button type="button" name="button">Register</button>
    <button type="button" name="button">Login</button>
  </section>
<%- include('./partials/footer'); %>
