<%- include('./partials/header'); %>
<h1>Welcome to Light Rizer!</h1>
<h2>Wake Up!</h2>
<h3>Studies have shown getting natural light within 1 hour of waking, even if gloomy, can create wakefulness and get better
  sleep at night.</h3>
<%- include('./partials/footer'); %>
