<%- include('./partials/header'); %><svg id="wave" style="display:block;transform:rotate(0deg); transition: 0.3s" viewBox="0 0 1440 250" version="1.1" xmlns="http://www.w3.org/2000/svg">
  <defs>
    <linearGradient id="sw-gradient-0" x1="0" x2="0" y1="1" y2="0">
      <stop stop-color="rgba(139, 245, 250, 1)" offset="0%"></stop>
      <stop stop-color="rgba(249, 245, 75, 1)" offset="100%"></stop>
    </linearGradient>
  </defs>
  <path style="transform:translate(0, 0px); opacity:1" fill="url(#sw-gradient-0)"
    d="M0,0L21.8,20.8C43.6,42,87,83,131,116.7C174.5,150,218,175,262,158.3C305.5,142,349,83,393,58.3C436.4,33,480,42,524,37.5C567.3,33,611,17,655,33.3C698.2,50,742,100,785,104.2C829.1,108,873,67,916,45.8C960,25,1004,25,1047,58.3C1090.9,92,1135,158,1178,175C1221.8,192,1265,158,1309,150C1352.7,142,1396,158,1440,166.7C1483.6,175,1527,175,1571,170.8C1614.5,167,1658,158,1702,158.3C1745.5,158,1789,167,1833,162.5C1876.4,158,1920,142,1964,120.8C2007.3,100,2051,75,2095,66.7C2138.2,58,2182,67,2225,66.7C2269.1,67,2313,58,2356,66.7C2400,75,2444,100,2487,100C2530.9,100,2575,75,2618,75C2661.8,75,2705,100,2749,91.7C2792.7,83,2836,42,2880,54.2C2923.6,67,2967,133,3011,145.8C3054.5,158,3098,117,3120,95.8L3141.8,75L3141.8,250L3120,250C3098.2,250,3055,250,3011,250C2967.3,250,2924,250,2880,250C2836.4,250,2793,250,2749,250C2705.5,250,2662,250,2618,250C2574.5,250,2531,250,2487,250C2443.6,250,2400,250,2356,250C2312.7,250,2269,250,2225,250C2181.8,250,2138,250,2095,250C2050.9,250,2007,250,1964,250C1920,250,1876,250,1833,250C1789.1,250,1745,250,1702,250C1658.2,250,1615,250,1571,250C1527.3,250,1484,250,1440,250C1396.4,250,1353,250,1309,250C1265.5,250,1222,250,1178,250C1134.5,250,1091,250,1047,250C1003.6,250,960,250,916,250C872.7,250,829,250,785,250C741.8,250,698,250,655,250C610.9,250,567,250,524,250C480,250,436,250,393,250C349.1,250,305,250,262,250C218.2,250,175,250,131,250C87.3,250,44,250,22,250L0,250Z">
  </path>
  <defs>
    <linearGradient id="sw-gradient-1" x1="0" x2="0" y1="1" y2="0">
      <stop stop-color="rgba(63, 151, 155, 1)" offset="0%"></stop>
      <stop stop-color="rgba(249, 245, 75, 1)" offset="100%"></stop>
    </linearGradient>
  </defs>
  <path style="transform:translate(0, 50px); opacity:0.9" fill="url(#sw-gradient-1)"
    d="M0,0L21.8,4.2C43.6,8,87,17,131,29.2C174.5,42,218,58,262,75C305.5,92,349,108,393,116.7C436.4,125,480,125,524,133.3C567.3,142,611,158,655,145.8C698.2,133,742,92,785,87.5C829.1,83,873,117,916,137.5C960,158,1004,167,1047,158.3C1090.9,150,1135,125,1178,100C1221.8,75,1265,50,1309,45.8C1352.7,42,1396,58,1440,70.8C1483.6,83,1527,92,1571,83.3C1614.5,75,1658,50,1702,66.7C1745.5,83,1789,142,1833,137.5C1876.4,133,1920,67,1964,62.5C2007.3,58,2051,117,2095,129.2C2138.2,142,2182,108,2225,95.8C2269.1,83,2313,92,2356,104.2C2400,117,2444,133,2487,145.8C2530.9,158,2575,167,2618,179.2C2661.8,192,2705,208,2749,183.3C2792.7,158,2836,92,2880,91.7C2923.6,92,2967,158,3011,175C3054.5,192,3098,158,3120,141.7L3141.8,125L3141.8,250L3120,250C3098.2,250,3055,250,3011,250C2967.3,250,2924,250,2880,250C2836.4,250,2793,250,2749,250C2705.5,250,2662,250,2618,250C2574.5,250,2531,250,2487,250C2443.6,250,2400,250,2356,250C2312.7,250,2269,250,2225,250C2181.8,250,2138,250,2095,250C2050.9,250,2007,250,1964,250C1920,250,1876,250,1833,250C1789.1,250,1745,250,1702,250C1658.2,250,1615,250,1571,250C1527.3,250,1484,250,1440,250C1396.4,250,1353,250,1309,250C1265.5,250,1222,250,1178,250C1134.5,250,1091,250,1047,250C1003.6,250,960,250,916,250C872.7,250,829,250,785,250C741.8,250,698,250,655,250C610.9,250,567,250,524,250C480,250,436,250,393,250C349.1,250,305,250,262,250C218.2,250,175,250,131,250C87.3,250,44,250,22,250L0,250Z">
  </path>
</svg>
<svg id="wave" style="transform:rotate(180deg); transition: 0.3s" viewBox="0 0 1440 180" version="1.1" xmlns="http://www.w3.org/2000/svg">
  <defs>
    <linearGradient id="sw-gradient-0" x1="0" x2="0" y1="1" y2="0">
      <stop stop-color="rgba(32, 94, 97, 1)" offset="0%"></stop>
      <stop stop-color="rgba(63, 151, 155, 1)" offset="100%"></stop>
    </linearGradient>
  </defs>
  <path style="transform:translate(0, 0px); opacity:1" fill="url(#sw-gradient-0)"
    d="M0,0L720,54L1440,162L2160,72L2880,18L3600,18L4320,108L5040,108L5760,54L6480,126L7200,162L7920,54L8640,54L9360,126L10080,0L10800,18L11520,54L12240,90L12960,126L13680,72L14400,0L15120,0L15840,54L16560,126L17280,108L17280,180L16560,180L15840,180L15120,180L14400,180L13680,180L12960,180L12240,180L11520,180L10800,180L10080,180L9360,180L8640,180L7920,180L7200,180L6480,180L5760,180L5040,180L4320,180L3600,180L2880,180L2160,180L1440,180L720,180L0,180Z">
  </path>
</svg>


<section style='padding-top:0;' class='home-section section-padding'>
  <div class='attention-grab'>
    <ul class=' home-ul '>
      <li class='home-li'>  Feel energized in the morning </li> %>
      <li class='home-li'>  Get better sleep at night </li>
    </ul>
    <img class='sun-anim-gif' src="/images/sunrise-anim.gif" alt="">
    </div>

    <p class='home-p center'>According to Neuroscientist Andrew Huberman studies have shown getting natural light within 1 hour of waking, even if gloomy, can create wakefulness in the morning and better
    sleep at night.</p>
    <iframe src="https://www.youtube.com/embed/WDv4AWk0J3U"></iframe>

    <%# <p class='home-p center'>Want to know exactly when the sun is coming up in your area?</p>

      <p class='home-p center'>Enter your phone number</p>
      <p class='home-p center'>Enter your zip code</p>

    <p class='home-p center'>Recieve text messages when the sun is rising so you can get sunlight. Its that simple!</p> %>
    <p class='home-p center' style='color:#205E61;'>
      Light Rizer was made in mind for people who wake before sunrise and work indoors.
      Now you can get a reminder when to get out and get some sun light.
    </p>
    <p class='home-p center' style='color:#205E61;'>Get text message as a daily reminder!</p>
    <p class='home-p center' style='color:#205E61;'>All you need is your phone number and zip code.</p>

<%if(!message){%>
    <div class='ha-container'>
      <a class='home-a' href="/register-page">Register</a>
      <a class='home-a' href="/login-page">Login</a>
    </div>
<%}%>
<div class="slides-container">
    <div class="icons left">
      <i class="fa-solid fa-circle-left"></i>
    </div>
    <div class="slides">
      <p class="quote">it was good service</p>
      <b style="display: block;" class="personName">-ryean</b>
    </div>
    <div class="icons right">
      <i class="fa-solid fa-circle-right"></i>
    </div>
  </div>
  </section>
<%- include('./partials/footer'); %>
