<%- include('./partials/header'); %>
<section class='home-section'>
  <div class='attention-grab'>
    <ul class=' home-ul '>
      <li class='home-li'>  Feel energized in the morning </li> %>
      <li class='home-li'>  Get better sleep at night </li>
    </ul>
    <img class='sun-anim-gif' src="/images/sunrise-anim.gif" alt="">
    </div>

    <p class='home-p center'>According to Neuroscientist Andrew Huberman studies have shown getting natural light within 1 hour of waking, even if gloomy, can create wakefulness in the morning and better
    sleep at night.</p>
    <iframe src="https://www.youtube.com/embed/WDv4AWk0J3U"></iframe>

    <%# <p class='home-p center'>Want to know exactly when the sun is coming up in your area?</p>

      <p class='home-p center'>Enter your phone number</p>
      <p class='home-p center'>Enter your zip code</p>

    <p class='home-p center'>Recieve text messages when the sun is rising so you can get sunlight. Its that simple!</p> %>
    <p class='home-p center' style='color:#205E61;'>
      Light Rizer was made in mind for people who wake before sunrise and work indoors.
      Now you can get a reminder when to get out and get some sun light.
    </p>
    <p class='home-p center' style='color:#205E61;'>Get text message as a daily reminder!</p>
    <p class='home-p center' style='color:#205E61;'>All you need is your phone number and zip code.</p>

<%if(!message){%>
    <div class='ha-container'>
      <a class='home-a' href="/register-page">Register</a>
      <a class='home-a' href="/login-page">Login</a>
    </div>
<%}%>

  </section>
<%- include('./partials/footer'); %>
