<%- include('./partials/header'); %>
<%# LOGIN %>
<section class='register-section section-padding'>
<form class='reg-form-container' action="/login" method="post">
  <h1>Login!</h1>
  <div class='regin-container'>
    <label class='reg-label' for="username">username</label>
    <input class='register-input' name='username' required/>
  </div>
  <div class='regin-container'>
    <label class='reg-label' for="password">password</label>
    <div style='position:relative;'>
    <input class='register-input see-password' type='password' name='password' required></input>
    <i class="eye fa-solid fa-eye"></i>
  </div>
  </div>
  <input class='reg-submit' type="submit" value="Submit">
  
</form>
<img class='login-img'src="/images/eye-scan.gif" alt="flowing arrows">
</section>


  <%- include('./partials/footer'); %>
