<%- include('./partials/header'); %>

<%# REGISTER %>
<section class='register-section section-padding'>
  <img class='register-img'src="/images/flow1.png" alt="flowing arrows">
<form class='reg-form-container' action="/register" method="post">
  <h1>Register!</h1>
  <div class='regin-container'>
      <label class='reg-label' for="userNameReg">username</label>
      <input class='register-input' name='userNameReg' required>
  </div>
  <div class='regin-container'>
      <label class='reg-label' for="passwordReg">password</label>
      <input class='register-input' name='passwordReg' required>
  </div>
<input class='reg-submit' type="submit" value="Submit">
<%# <h3 class='reg-taken'> %>
  <%-taken%>
<%# </h3> %>
</form>

</section>
  <%- include('./partials/footer'); %>
