/* HOME */

  .attention-grab{
    display: block;
    position: relative;
    height:500px;
    width:100%;
  }
  .home-ul{
    display: block;
    padding: 0;
    font-size: 60px;
    text-align: right;

  }
  .sun-anim-gif{
    position: absolute;
    top:15%;
    left: 10%;
    z-index:-1;
    opacity: 0.2;
    width:500px;
    height:500px;
  }

  iframe{
    display:block;
    margin: 0 auto;
    width:500px;
    height:420px
  }
  .center{
    text-align: center;
  }
  .home-li{
    list-style-type: none;

    color: #205E61;
  }
  .home-p{
    width:80%;
    margin:40px auto;
    font-size: 30px;
    color: #3F979B;
  }

.ha-container{
  display: flex;
  justify-content: center;
  gap: 50px;
}
.home-a {
  text-decoration: none;
  padding:5px;
  border:0.1px solid #205E61;
  border-radius: 10px;
  background-color:#F9F54B;
  font-size: 30px;
  color:#205E61;
}
.ha-container a.home-a:hover{
background-color:white;
}

footer{
display: block;
position:static;
width:inherit;
height:auto;
margin-top:50px;
border: 1px dashed #F9F54B ;
border-radius: 10px;
color: #205E61;
padding:20px;
}

::-webkit-scrollbar {
  width: 15px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #205E61;
}

/* @media only screen and (max-width:420px){
  .home-li{
    font-size:21px;
  }
} */

@media only screen and (max-width: 600px) {
  /* HOME */

  .attention-grab{
    display: block;
    height:300px;
  }
  .home-ul{
    display: block;
    width: 100%;
    height:80px;
    font-size: 21px;
  }
  .sun-anim-gif{
    position: absolute;
    top:25%;
    z-index:-1;
    opacity: 0.2;
    width:200px;
    height:200px;
  }
  .home-li{
    list-style-type: none;
    color: #205E61;
    width: 100%;
  }
  iframe{
    width:100%;
    height:250px;
  }
  .home-p{
    width:100%;
    font-size: 18px;
  }
}
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .attention-grab{
    height:300px;
  }
  .home-ul{
    font-size: 40px;
  }
  .sun-anim-gif{
    position: absolute;
    top:25%;
    z-index:-1;
    opacity: 0.2;
    width:190px;
    height:190px;
  }
  .home-p{
    width:100%
  }
}
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .attention-grab{
    height:400px;
  }
  .sun-anim-gif{
    position: absolute;
    top:25%;
    z-index:-1;
    opacity: 0.2;
    width:350px;
    height:350px;
  }
}
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .home-ul{
    font-size: 50px;
}
  .sun-anim-gif{
    /* position: absolute;
    top:25%;
    z-index:-1;
    opacity: 0.2; */
    width:350px;
    height:350px;
  }
  .home-p{
    width:80%;
  }
}
/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .attention-grab{
    height:680px;
    width:100%;
  }
  .home-ul{
    font-size: 60px;
  }
  .sun-anim-gif{
    width:500px;
    height:500px;
  }
  .home-p{
    width:80%;
  }
}
