
.login-img{
display: block;
opacity: 0.5;
width:600px;
height:inherit;
}
@media only screen and (max-width:600px) {
  .login-img{
    padding-top:20px;
    margin:0 auto;
    width: 70%;
    aspect-ratio:4/3;
  }
}
@media only screen and (min-width: 601px) {
  .login-img{
    width: 50%;
  }
}
