html.sr .load-hidden {
    visibility: hidden;
}
/* .stopMessages-p{
  font-size: 20px;
  padding:15px;
  margin:0;
  text-align: center;
  color:#205E61;
} */
.stopMessages-submit{
  display: block;
  border:0.1px solid #205E61;
  margin:0 auto;
  border-radius: 10px;
    font-size: 30px;
    background-color: #205E61;
    color: #F9F54B;
}
.stopMessages-submit:hover{
  background-color:#2b6163;
  color:#faf893;
}
.stopMessages-submit:active{
  background-color:#F9F54B;
  color:#205E61;
}
.stopMessages{
  background-color:#F9F54B;
  padding-bottom: 50px;
}
.phoneInput{
  height:30px;
  font-size: 20px;
  border:none;
  /* background-color: #8BF5FA; */
  text-align: center;
  /* border-bottom: 2px solid black; */
}
.phoneInput:focus{
  outline: none;
}
.phoneMiddleNumbers{
  width:50px;
}
.phoneLastNumbers{
  width:60px;
}
.bubble {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #8BF5FA;
  border-radius: 40px;
  position: relative;
  width: 300px;
  height: 200px;
  margin: auto;
}

.bubble-quote-triangle::before {
  content: "";
  position: absolute;
  right: 30px;
  bottom: -45px;
  border-top: 35px solid #8BF5FA;
  border-left: 35px solid transparent;
  border-bottom: 35px solid transparent;
  border-right: 35px solid #8BF5FA;
}

.bubble-quote-triangle-red::before {
  content: "";
  position: absolute;
  right: 30px;
  bottom: -45px;
  border-top: 35px solid #d46a6a;
  border-left: 35px solid transparent;
  border-bottom: 35px solid transparent;
  border-right: 35px solid #d46a6a;
}

.settings-p {
  padding: 20px;
  color: #205E61;
  font-size: 25px;
  font-weight: bold;
}
.span-settings{

  font-size: 30px;
  /* font-weight: bold; */
}
.otpError{
  background-color: #f5dada;
}

.bubble-input-container{
  display: flex;
 flex-wrap: nowrap;
 justify-content: space-between;
  width:100%;
  /* background-color: pink; */
  padding: 40px 0 40px 0;
}
.phoneAndBubble{
  width: 50%;
}
@media only screen and (max-width: 600px) {
  .settings-img {
    width: 100%;
  }
  .bubble-space{
    padding-bottom: 30px;
  }

  .phoneMiddleNumbers{
    /* width:35px; */
    width:25%;
  }
  .phoneLastNumbers{
    /* width:40px; */
    width:25%
  }
  .phone-inputs-holder{
    display: flex;
    /* justify-content: space-around; */
    width:100%;
  }
  .phone-input{
    font-size: 15px;
  }
  .bubble-input-container{
    display: flex;
   flex-wrap: wrap;
 }
 .phoneAndBubble{
   width: 100%;
   padding: 50px 20px 0 20px;
 }
 .bubble {
   padding: 30px 0 30px 0;
 }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
  @media only screen and (min-width: 600px) {
  .phoneMiddleNumbers{
    /* width:35px; */
    width:20%;
  }
  .phoneLastNumbers{
    width:25%
  }
  .phone-inputs-holder{
    display: flex;
    width:100%;
    padding-left: 20px;
  }
   .phone-input{
    font-size: 15px;
  }

 }

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .phoneMiddleNumbers{
    width:25%;
  }
  .phoneLastNumbers{
    width:30%
  }

}

/* Large devices (laptops/desktops, 992px and up) */
/* @media only screen and (min-width: 992px) {...} */

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .phoneMiddleNumbers{
    width:20%;
  }
  .phoneLastNumbers{
    width:25%
  }
}
