
.section-padding {
  padding: 50px 50px 0 50px;
  margin: 0;
}
/* NAVIGATION */
.nav-container{
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
#target{
  display: flex;
  justify-content: space-evenly;
  list-style-type: none;
}
.nav-link{
  background-color: white;
  text-decoration: none;
  font-size: 40px;
  color: #3F979B;
  padding: 0 20px 0 20px;

}
.brand{
  color: #F9F54B;
  font-weight: bold;
  font-size: 40px;
  text-decoration: none;
  -webkit-text-stroke-width: 0.5px;
 -webkit-text-stroke-color: black;

}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 835px) {
  .section-padding{
    padding:25px 25px 0 25px;
  }
  /* NAVBAR */
  .nav-container{
    /* background-color: orange; */
    display:block;
    position: relative;
    margin:0;
    padding:0;
    width:100%;
    height:auto;
    overflow: hidden;
  }
  .brand-container{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-content:center;
  }
  .hamburger{
    position: relative;
    height: 50px;
    width: 50px;

  }
#target{
  display: block;
}
.nav-link{
  font-size: 30px;
  padding: 0 20px 0 20px;
}
li{
  padding: 5px 0 5px 0;
}
  .line{
    width:25px;
    height:5px;
    transition: all 1s ease-in-out;
  }
  .hamburger .first{
  position: absolute;
  background-color:#205E61;
  left:25%;
  top:33%;
  transition: all 1s ease-in-out;
}

.hamburger .second{
  position:absolute;
  background-color: #205E61;
  left:25%;
  bottom:33%;
  transition: all 1s ease-in-out;
}

.hamburger.open .first{
  transform: rotate(45deg)translate(4.33px,4.33px) ;
}

.hamburger.open .second{
  transform: rotate(-45deg)translate(4.33px,-4.33px);
}
#target{
  height:0;
  padding:0px;
  margin:0;
  overflow: hidden;
}

.attach {
  animation-name: grow;
  animation-duration: 1.5s;
  animation-fill-mode: forwards;
}

@keyframes grow {
  from {
    height: 0;
  }
  to {
    height: 225px;
  }
}

.detach {
  animation: shrink;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}
@keyframes shrink {
  from {
    height: 225px;
  }
  to {
    height: 0;
  }
}

.attach2 {
  animation-name: grow2;
  animation-duration: 1.5s;
  animation-fill-mode: forwards;
}

@keyframes grow2 {
  from {
    height: 0;
  }
  to {
    height: 150px;
  }
}

.detach2 {
  animation: shrink2;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}
@keyframes shrink2 {
  from {
    height: 150px;
  }
  to {
    height: 0;
  }
}

}
  /* Small devices (portrait tablets and large phones, 600px and up) */
/* @media only screen and (min-width: 600px) {} */

/* Medium devices (landscape tablets, 768px and up) */
/* @media only screen and (min-width: 768px) {} */

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 836px) {
  /* body {
    padding: 50px 50px 0 50px;
    margin: 0;
  } */
  .nav-link{
    font-size: 25px;
    padding: 0 10px 0 10px;
  }
  .brand{
    font-size: 40px;
  }
  #target{
    padding:0;
  }
  .nav-container{
    justify-content: space-between;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .nav-link{
    font-size: 30px;
    padding: 0 35px 0 35px;
  }
  .brand{
    font-size: 40px;
    text-decoration:none;
  }
  #target{
    padding:0;
  }
  .nav-container{
    justify-content: space-between;
  }
}
